<form name = "bitcoinForm" #bitcoinForm="ngForm" (ngSubmit)="bitcoinForm.form.valid && processForm(bitcoinForm)">
    <div fxLayout="column"
    fxLayoutAlign=
    “space-around” class="sideSpace">

    <mat-form-field>
        <input matInput name = "contactno" placeholder="Contact No." ngModel #contactnoField="ngModel" required pattern="[0-9\-\)\(\+]+">
    </mat-form-field>
    <mat-error *ngIf="contactnoField.touched && contactnoField.errors?.required">
        Contact No. is required
    </mat-error>
 
    <mat-error *ngIf="contactnoField.touched && contactnoField.errors?.pattern">
        Contact No. can only contain numbers and these symbols: +, -, ()
    </mat-error>
    <br>
    <mat-form-field>
        <input matInput name = "name" placeholder="Name" ngModel #nameField="ngModel" required pattern="([a-zA-Z])+\s?(([a-zA-Z])+\s?)*">
    </mat-form-field>
    <mat-error *ngIf="nameField.touched && nameField.errors?.required">
        Name is required
    </mat-error>
    <mat-error *ngIf="nameField.errors?.pattern">
        Name is invalid
    </mat-error>
    <br>

    <mat-form-field>
        <input matInput name="dob" 
        [min]="today"
        [matDatepicker]="birthdatepicker"
        placeholder="Date of Birth" 
        ngModel #dobField="ngModel" 
        required (input)="checkAgeValid(dobField.value)">
        <mat-datepicker-toggle matSuffix  [for]="birthdatepicker"></mat-datepicker-toggle>
        <mat-datepicker #birthdatepicker></mat-datepicker>
    </mat-form-field>
    <mat-error *ngIf="dobField.touched && dobField.errors?.required">
        Date of Birth is required
    </mat-error>
    <mat-error *ngIf="dobField.touched && !validAge">
        You need to be 21 years and above.
    </mat-error>
    <br>

    <!-- with datepicker and touchUI -->
    <mat-form-field>
        <input matInput name="arriveDate"
        [matDatepicker]="datepicker"
        placeholder="Arrive Date"
        [min]="arrive"
        #arriveDate="ngModel" ngModel 
        required (dateInput)="checkTime('arrive',$event)">
        <mat-datepicker-toggle matSuffix
        [for]="datepicker">
        </mat-datepicker-toggle>
        <mat-datepicker #datepicker>
        </mat-datepicker>
    </mat-form-field>
    <mat-error *ngIf="!validTime">
        The arrive Date must be earlier than leave Date.
    </mat-error>

    <br>

    <mat-form-field>
        <input matInput name="leaveDate"
        [matDatepicker]="leavedatepicker"
        placeholder="Leave Date"
        [min]="leave"
        #leaveDate="ngModel" ngModel required (dateInput)="checkTime('leave',$event)">
        <mat-datepicker-toggle matSuffix
        [for]="leavedatepicker">
        </mat-datepicker-toggle>
        <mat-datepicker #leavedatepicker>
        </mat-datepicker>
    </mat-form-field>
    <mat-error *ngIf="!validTime">
        The leave Date must be later than arrive Date.
    </mat-error>

    <br>

    <!-- Do NOT parse orderTypeField.value into the checkBuyOrSell event because it does not update fast enough -->
    <mat-form-field>
        <mat-label>Hotel Type</mat-label>
        <select matNativeControl name="orderType" required ngModel #orderTypeField="ngModel" [(ngModel)]='Common' (ngModelChange)="[recalcMyAmt(orderTypeField.value,unitField.value)]">
          <option value="Common">Common Room</option>
          <option value="Luxury">Luxury Room</option>
          <option value="Suite">Special Suite</option>
        </select>
    </mat-form-field>
    <br>

    <mat-form-field>
        <input matInput name = "unit" type="number" placeholder="Quantities" ngModel #unitField="ngModel" required min=1 (input)="recalcMyAmt(orderTypeField.value, unitField.value)">
    </mat-form-field>
    <mat-error *ngIf="bitcoinForm.submitted && unitField.invalid">
        Quantities is required
    </mat-error>
    <br>

    <div fxLayout="row"
        fxLayoutAlign="space-around" class = "myTable">
        <div>
            <div><h1>Room Quantities</h1></div>
            <div class = "yellow"><h2>{{myUnit}}</h2></div>
        </div>
        <div>
            <div><h1>Night Stays</h1></div>
            <div class = "yellow"><h2>{{myNight}}</h2></div>
        </div>
        <div>
            <div><h1>Price</h1></div>
            <div class = "green"><h2>SGD {{myPrice}}</h2></div>
        </div>
        <div>
            <div><h1>Price * Unit</h1></div>
            <div class = "red"> <h2>SGD {{myAmt}}</h2></div>
        </div>
    </div>
    <br>



    <div fxLayout="row" fxLayoutAlign="space-around">
        <button mat-raised-button type="submit"  color="primary" [disabled] = "bitcoinForm.invalid || !validAge">Order</button>
        <button mat-raised-button (click)="resetForm(bitcoinForm)" >Reset</button>

    </div>

    <br><br>
    </div>
</form>